.container{
    background-color: rgb(167, 140, 123);
    padding: 20px;
    border: radius 25px;
    width: 100vw;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap; 
    height: 105px;
}

.body{
    background-color: rgb(216, 200, 189);
    padding: 200px;
    border: radius 25px;
    text-align: center;
}

