.separator {
    width: 100%; 
    border-bottom: 1px solid rgb(197, 162, 83);
    margin: 20px 0; 
  }
    
  .rect {
    text-align: center;
    width: 250px; 
  }
  
  #ul {
    list-style-type: disc;
  }